<div class="Amenities">
  		{%if section.settings.title!=blank%}
          <div class="Amenities_title">
              <h1 class="Amenities_title-text">{{section.settings.title}}</h1>
          </div>
		{%endif%}
  		{%if section.blocks!=blank%}
          <div class="Amenities_content d-flex">
            {%for block in section.blocks%}
              <div class="Amenities_item">
                  <div class="Amenities_item_about">
                    {%if block.settings.am_title !=blank and block.settings.am_icon!=blank%}
                      <div class="AmenitiesTitle">
                          <img src="{{block.settings.am_icon |img_url:'master'}}" alt="">
                          <h1>{{block.settings.am_title}}</h1>
                      </div>
                    {%endif%}
                    {%if block.settings.am_desc!=blank%}
                      <div class="education-desc">
                          <p>{{block.settings.am_desc}}</p>
                      </div>
                    {%endif%}
                  </div>
                {%if block.settings.am_image!=blank%}
                  <div class="Amenities_item_image">
                      <img src="{{block.settings.am_image |img_url:'master'}}" >
                  </div>
                {%endif%}
              </div>
            {%endfor%}
          </div>
  		{%endif%}
    </div>

{%schema%}
{
	"name":"Amenities",
	"settings":[
		{
			"type":"text",
			"id":"title",
			"label":"Title",
			"default":"Amenities"
		}
	],
	"blocks":[
	{
	"type":"Amenities",
	"name":"Amenty",
	"settings":[
	{
		"type":"image_picker",
		"id":"am_icon",
		"label":"Icon"
	},
	{
		"type":"text",
		"id":"am_title",
		"label":"Title"
	},
	{
		"type":"textarea",
		"id":"am_desc",
		"label":"Description",
		"info":"Words limit: 80"
	},
	
	{
	"type":"image_picker",
	"id":"am_image",
	"label":"Choose Image"
	}
	]
	}
],
"presets":[
	{
	"name":"Amentities"
}
]
}

{%endschema%}
 
{%javascript%}
	$('.Amenities_content').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        dots: false,
        prevArrow:'<button class="slick-prev cstm-prev-icon"><img src="https://cdn.shopify.com/s/files/1/0593/1987/7820/files/Group_73.png?v=1636008696" width="10" height="15"></button>',
        nextArrow:'<button class="slick-next cstm-next-icon"><img src="https://cdn.shopify.com/s/files/1/0593/1987/7820/files/Group_72.png?v=1636008696" width="10" height="15"></button>'
    });
{%endjavascript%}