<div class="Amenities">
  		{%if section.settings.title!=blank%}
          <div class="Amenities_title">
              <h1 class="Amenities_title-text">{{section.settings.title}}</h1>
          </div>
		{%endif%}
  		{%if section.blocks!=blank%}
          <div class="Amenities_content d-flex">
            {%for block in section.blocks%}
              <div class="Amenities_item">
                  <div class="Amenities_item_about">
                    {%if block.settings.am_title !=blank and block.settings.am_icon!=blank%}
                      <div class="AmenitiesTitle">
                          <img src="{{block.settings.am_icon |img_url:'master'}}" alt="">
                          <h1>{{block.settings.am_title}}</h1>
                      </div>
                    {%endif%}
                    {%if section.settings.am_desc!=blank%}
                      <div class="education-desc">
                          <p>{{block.settings.am_desc}}</p>
                      </div>
                    {%endif%}
                  </div>
                {%if block.settings.am_image!=blank%}
                  <div class="Amenities_item_image">
                      <img src="{{block.settings.am_image}}" >
                  </div>
                {%endif%}
              </div>
            {%endfor%}
          </div>
  		{%endif%}
    </div>

{%schema%}
{
	"name":"Amenities",
	"settings":[
		{
			"type":"text",
			"id":"title",
			"label":"Title",
			"default":"Amenities"
		}
	],
	"blocks":[
	{
	"type":"Amenities",
	"name":"Amenties",
	"settings":[
	{
		"type":"image_picker",
		"id":"am_icon",
		"label":"Icon"
	},
	{
		"type":"text",
		"id":"am_title",
		"label":"Title"
	},
	{
		"type":"textarea",
		"id":"am_desc",
		"label":"Description"
	},
	{
	"type":"image_picker",
	"id":"am_image",
	"label":"Choose Image"
	}
	]
	}
]
}

{%endschema%}