   {%if section.settings.title!=blank%}
	<div class="testimonials_title">
        <h1>{{section.settings.title}}</h1>
    </div>
   {%endif%}
	{%if section.blocks!=blank%}
      <div class="row testimonials_bg" {%if section.settings.bg_image!=blank%} style=" background:url('{{section.settings.bg_image|img_url:'master'}}');" {%endif%}>
          <div class="col-1 col-sm-3"></div>
          <div class="col-10 col-sm-6">
              <div class="testimonials">
                {%for block in section.blocks%}
                  <div class="testimonial_item">
                    {%if block.settings.show_quotes==true%}
                      <div class="testimonial_quotes">
                          <img src="https://cdn.shopify.com/s/files/1/0593/1987/7820/files/leftQuotes.png?v=1636460776" alt="" class="testimonial_quotes_lt">
                          <img src="https://cdn.shopify.com/s/files/1/0593/1987/7820/files/rightQuotes.png?v=1636460776" alt="" class="testimonial_quotes_rt">
                      </div>
                    {%endif%}
                    {%if block.settings.person_image!=blank%}
                      <div class="testimonial_img">
                          <img src="{{block.settings.person_image |img_url:'master'}}" alt="">
                      </div>
                    {%endif%}
                    {%if block.settings.testimonial!=blank%}
                      <div class="testimonial_cmnt">
                          <p>{{block.settings.testimonial}}</p>
                      </div>
                    {%endif%}
                    {%if block.settings.name!=blank or block.settings.job_title!=blank%}
                      <div class="testimonial_info">
                          {%if block.settings.name!=blank%}
                        	<h3>{{block.settings.name}}</h3>
                          {%endif%}
                        {%if block.settings.job_title!=blank%}
                          <p>{{block.settings.job_title}}</p>
                        {%endif%}
                      </div>
                    {%endif%}
                  </div>
                {%endfor%}
              </div>
          </div>
          <div class="col-1 col-sm-3"></div>
      </div>
	{%endif%}
{% schema %}
  {
    "name": "Testimonials",
    "settings": [
		{
			"type":"text",
			"label":"Title",
			"id":"title"
		},
		{
			"type":"image_picker",
			"label":"Choose background image",
			"id":"bg_image"
		}
	],
	"blocks":[
	{
		"type":"testimonial",
		"name":"Testimonial",
		"settings":[
			{
				"type":"textarea",
				"label":"Announcement",
				"id":"announcement"
			}]}
	],
	"presets":[
		{
			"name":"Announcements Slider"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
 
{% javascript %}



{% endjavascript %}
