<div class="cstm_contact_form {% if section.settings.background_image!=blank %} mhsoverlay {% endif %}">
  		{%if section.settings.title!=blank or section.settings.sub_title!=blank%}
          <div class="contact_form_header">
            	{%if section.settings.title!=blank%}
              		<h3>{{ section.settings.title }}</h3>
            	{%endif%}
            	{%if section.settings.sub_title!=blank%}
			        <p> {{ section.settings.sub_title }}</p>            
            	{%endif%}
          </div>
  		{%endif%}
        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="cstm_contact_form_content">
                  {%- form 'contact', id: 'ContactForm' -%}
                        <div class="cstm_contact_form_content_email cstm_contact_form_content-item">
<!--                             <label for="cstm_fullname">Full Name</label> -->
                            <input type="text" placeholder="Name" name="contact[first_name]" id="cstm_fullname" required>
                        </div>
                  		<div class="cstm_contact_form_content_phone cstm_contact_form_content-item">
<!--                             <label for="cstm_fullname">Phone Number</label> -->
                            <input type="text" placeholder="Phone Number" name="contact[phone]" id="cstm_fullname" required>
                        </div>
                        <div class="cstm_contact_form_content-item cstm_contact_form_content_email">
<!--                             <label for="cstm_email">Email</label> -->
                            <input placeholder="Email" type="email" name="contact[email]" id="cstm_email" required>
                        </div>
                        <div class="cstm_contact_form_content_message cstm_contact_form_content-item">
<!--                             <label for="cstm_message">Message</label> -->
                            <textarea rows="7" placeholder="Type here" id="cstm_message" required name="contact[body]"></textarea>
                        </div>
                  		<div class="mhs-contact-btns">
                              <button type="submit" class="styled_btn btn--animation-from-right">
                                <span class="btn__text-static">Send Messages</span>
                                <div class="btn__text-dynamic">
                                  <span class="btn__text-dynamic-inner">Send Messages</span>
                                </div>
                              </button>
                              {% if section.settings.contact_btn_text != blank%}
                              <a href="{% if section.settings.contact_btn_link != blank %} {{ section.settings.contact_btn_link }} {% endif %}" class="styled_btn btn--animation-from-right">
                                <span class="btn__text-static">{{ section.settings.contact_btn_text }}</span>
                                <div class="btn__text-dynamic">
                                  <span class="btn__text-dynamic-inner">{{ section.settings.contact_btn_text }}</span>
                                </div>
                              </a>
                              {% endif %}
                          </div>
                          
                    {% endform %}
                </div>
            </div>
            <div class="col-12 col-lg-5 mhs-sidebar">
              {% if section.settings.sidebar_text!=blank or section.settings.sidebar_subtext!=blank %}
                <div class="mhs-sidebar-headings">
                  	<p class="sidebar_text">
                  		{{ section.settings.sidebar_text }}
                  	</p>
                    <p class="sidebar_subtext">
                  		{{ section.settings.sidebar_subtext }}
                  	</p>
              	</div>
              {% endif %}
            </div>
        </div>
    </div>

<style>
  
  .mhsoverlay{
    background-repeat: no-repeat;
    background-image:url('{{section.settings.background_image |img_url:'master'}}');
    background-size:cover;
  } 
   .mhs-sidebar-headings {
    position: absolute;
    transform: rotate(270deg) translatex(-60px);
    right: -75px;
 }
  .mhs-contact-btns{
  	display: flex;
    justify-content:flex-start;
  }
  .mhs-contact-btns button{
  	margin:10px 0px;
  }
/*   .cstm_contact_form_content{
  	padding:0rem 7rem;
  } */
  @media screen and (max-width:1024px){
/*     .cstm_contact_form_content{
      padding:0rem;
    }	 */
  }
  @media screen and (max-width:420px){
    .mhs-contact-btns{padding:0px;}
  }
  
  
</style>

{% schema %}
  {
    "name": "Contact Form",
    "settings": [
		{
			"type":"text",
			"id":"title",
			"label":"Title"
		},
		{
			"type":"text",
			"id":"sub_title",
			"label":"Sub Title"
		},
		{
			"type":"header",
			"content":"Background Settings"
		},		
	
		{
			"type":"image_picker",
			"label":"Choose Bakcground Image",
			"id":"background_image"
		},

		{
			"type":"header",
			"content":"Sidebar Heading Settings"
		},
		{
			"type":"text",
			"label":"Sidebar Title",
			"id":"sidebar_text"
		},
		{
			"type":"text",
			"id": "sidebar_subtext",
			"label":"Sidebar Sub Title"
		},
		{
			"type":"text",
			"label":"Contact Button Text",
			"id": "contact_btn_text"
		},
		{
			"type":"text",
			"label":"Contact Button Link",
			"id":"contact_btn_link"
	}
	],
	"presets":[
		{
			"name":"MHS Contact Form "
		}
	]
  }
{% endschema %}

{% comment %}
			{
			"type":"checkbox",	
			"id":"showoverlay",
			"label":"Show overlay over image"
		},
		{
			"type":"color",
			"id":"overlaycolor",
			"label":"Choose overlay color"
		},
		
	<div class="contactInfo">
                  {% if section.settings.contact_title!=blank%}
                   <div class="contactInfo_title">
                        <h1>{{section.settings.contact_title}}</h1>
                   </div>
                  {%endif%}
                  {%if section.settings.contact_desc!=blank%}
                   <div class="contactInfo_desc">
                       <p>{{section.settings.contact_desc}}</p>
                   </div>
                  {%endif%}
                   <div class="contactInfo_items">
                     	{%if section.settings.address!=blank%}
                        <div class="contactInfo_item my-3">
                           <i class="fas fa-map-marker-alt"></i>
                            <span>{{section.settings.address}}</span>
                        </div>
                     	{%endif%}
                     	{%if section.settings.phone!=blank%}
                        <div class="contactInfo_item my-3">
                            <i class="fas fa-phone-alt"></i>
                            <span>{{section.settings.phone}}</span>
                        </div>
                     	{%endif%}
                     	{%if section.settings.fax!=blank%}
                          <div class="contactInfo_item my-3">
                              <i class="fas fa-fax"></i>
                              <span>{{section.settings.fax}}</span>
                          </div>
                     	{%endif%}
                     	{%if section.settings.time!=blank%}
                        <div class="contactInfo_item my-3">
                            <i class="far fa-clock"></i>
                            <span>{{section.settings.time}}</span>
                        </div>
                     	{%endif%}
                     	{%if section.settings.email!=blank%}
                        <div class="contactInfo_item my-3">
                            <i class="fa fa-envelope"></i>
                            <span>{{section.settings.email}}</span>
                        </div>
                     	{%endif%}
                   </div>
                </div>
{% endcomment %}