 <div class="img-with-text">
        <div class="row cstm-img-with-text">
          {%if section.settings.imgOnLeft==true%}
          	{%if section.blocks!=blank%}
              <div class="col-12 col-sm-4">
                  <div class="cstm-iwt-text-img "> 
                    {%for block in section.blocks%}
                      {%if block.settings.image!=blank%}
                          <img src="{{block.settings.image|img_url:'master'}}">
                      {%endif%}
                    {%endfor%}
                  </div>
              </div>
		  	{%endif%}
          {%endif%}
          {%if section.settings.title!=blank or section.settings.desc!=blank %}
            <div class="col-12 col-sm-8">
                <div class="cstm-iwt-text {%if section.settings.imgOnLeft==true%} iwt3Left{%endif%}" style="background-color:{{section.settings.bgColor}}">
                  	{%if section.settings.title!=blank%}
                      <div class="cstm-iwt-text-heading">
                          <h1>{{section.settings.title}}</h1>
                      </div>
                    {%endif%}
                  	{%if section.settings.desc!=blank%}
                    <div class="cstm-iwt-text-desc">
                        <p>{{section.settings.desc}}</p>
                    </div>
                  	{%endif%}
                </div>
            </div>
          {%endif%}
          {%if section.settings.imgOnLeft==false%}
            {%if section.blocks!=blank%}
              <div class="col-12 col-sm-4">
                  <div class="cstm-iwt-text-img"> 
                    {%for block in section.blocks%}
                      {%if block.settings.image!=blank%}
                          <img src="{{block.settings.image|img_url:'master'}}">
                      {%endif%}
                    {%endfor%}
                  </div>
              </div>
            {%endif%}          
          {%endif%}
        </div>
</div>


{% schema %}
  {
    "name": "IWT Style 3",
    "settings": 
	[
	{
		"type":"text",
		"label":"Enter Title",
		"id":"title"
	},
	{
		"type":"textarea",
		"label":"Description",
		"id":"desc"
	},
	{
		"type":"header",
		"content":"Settings"
	},
	{
		"type":"checkbox",
		"id":"imgOnLeft",
		"label":"Image on left side"
	},
	{
		"type":"color",
		"id":"bgColor",
		"label":"Select Background Color"
	}
	],
	"blocks":[
	{
		"name":"Images",
		"type":"Image",
		"settings":[
			{
				"type":"image_picker",
				"id":"image",
				"label":"Choose Image"
			}
		]
	}
	],
	"presets":[
		{
			"name":"Image with Text Style 3"
		}
	]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

$(document).ready(()=>{
  $('.cstm-iwt-text-img').slick({
    // centerMode: true,
    // centerPadding:'150px',
    slidesToShow: 1,
    focusOnSelect: true,
    arrows:true,
    prevArrow:'<button class="slick-prev iwt3-cstm-prev-icon"><img src="https://cdn.shopify.com/s/files/1/0593/1987/7820/files/Group_73.png?v=1636008696" width="10" height="15"></button>',
    nextArrow:'<button class="slick-next iwt3-cstm-next-icon"><img src="https://cdn.shopify.com/s/files/1/0593/1987/7820/files/Group_72.png?v=1636008696" width="10" height="15"></button>',
    dots: true
  })
})

{% endjavascript %}
