<div class="cstm-projects">
  	{%if section.settings.title!=blank%}
    <h3 class="cstm-projects-title">
        {{section.settings.title}}
      
    </h3>
  	{%assign blog=blogs[section.settings.blog]%}
  	{%for article in blog.article%}
  		{{article.title}}
  	{%endfor%}
  	{%endif%}
  	{%if blog.articles_count!=0%}
    <div class="projects-list">
      {%for article in blog.articles%}
        <div class="cstm-project-item">
          	{%if article.image!=blank%}
            <div class="cstm-project-item-img">
            	<img src="{{article.image|img_url:'master'}}">
          	</div>
          	{%endif%}
          
            <div class="cstm-project-item-text">
              {% if article.title!=blank%}
              		<a href="{{article.url}}" class="btn_link">
	              	  <span>{{article.title}}</span>
              		</a>
              {%endif%}
              {%if article.content!=blank%}
              	<p>{{article.content |truncatewords: 25, '...'}}</p>
              {%endif%}
                <a href="{{article.url}}">Read More <span><svg width="12" height="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.042 20.999"><g transform="translate(-1735 -3896)"><g transform="translate(1735 3896)"><path d="M24.39,20.5l-7.95,7.95a1.425,1.425,0,0,0,.15,2.25,1.575,1.575,0,0,0,2.025-.15l8.925-9a1.425,1.425,0,0,0,0-2.1l-8.925-9a1.575,1.575,0,0,0-2.025-.15,1.425,1.425,0,0,0-.15,2.25Z" transform="translate(-15.959 -10.001)"/></g></g></svg></span></a>
          	</div>
        </div>
      {%endfor%}
    </div>
  {%endif%}
</div>
{% schema %}
  {
    "name": "Projects List",		
    "settings": [
	{
		"type":"text",
		"label":"Title",
		"id":"title",
		"default":"Projects"
	},
	{
      "id": "blog",
      "type": "blog",
      "label": "Blog"
    }
	],
	"presets":[
		{
			"name":"Blogs"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
