<div class="images_with_button">
  {%if section.blocks!=blank%}
        <div class="iwb_gallery">
          {%for block in section.blocks%}
            <img src="{{block.settings.image |img_url:'master'}}" alt="">
          {%endfor%}
        </div>
  {%endif%}
  		{%if section.settings.btn_text!=blank%}
          
 			 <a href="{{section.settings.btn_link}}" class="styled_btn btn--animation-from-right">
                <span class="btn__text-static">{{section.settings.btn_text}}</span>
                <div class="btn__text-dynamic">
                  <span class="btn__text-dynamic-inner">{{section.settings.btn_text}}</span>
                </div>
              </a>          
             {%comment%} <a href="{{section.settings.btn_link}}">{{section.settings.btn_text}}</a>{%endcomment%}
         
  		{%endif%}
</div>
{% schema %}
  {
    "name": "Simple Gallery",
	"max_blocks":5,
    "settings": [
    {
    "type":"text",
    "id":"title",
    "label":"Title"
    },
    {
    "type":"text",
    "id":"btn_text",
    "label":"Button Text"
    },
	{
	"type":"text",
	"id":"btn_link",
	"label":"Button Link"
	}
	],
	"blocks":[
	{
	"type":"gallery",
	"name":"Image",
	"settings":[
	{
			"type":"image_picker",
			"id":"image",
			"label":"Choose Image"
	}
	]

	}
	],
	"presets":[
		{
		 "name":"Simple Image Gallery"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
