<div class="res">
        <div class="res-content ">
          {%if section.settings.title!=blank or section.settings.desc!=blank%}
            <div class="res-info">
              {%if section.settings.title!=blank%}
                <h1>{{section.settings.title}}</h1>
              {%endif%}
              {%if section.settings.desc!=blank%}
                <p>{{section.settings.desc}}</p>
          	  {%endif%}
          	</div>
          {%endif%}
          {%if section.blocks!=blank%}
            <div class="res-icons">
              {%for block in section.blocks%}
                    <div class="res-iconItem">
                      {%if block.settings.icon!=blank%}
                        <img src="{{block.settings.icon|img_url:'master'}}" alt="">
                      {%endif%}
                      {%if block.settings.icon_text!=blank%}
                        <p>{{block.settings.icon_text}}</p>
                      {%endif%}
                    </div>
              {%endfor%}
            </div>
          {%endif%}
        </div>
  		{%if section.settings.image!=blank%}
        <div class="res_img">
            <img src="{{section.settings.image|img_url:'master'}}" alt="">
        </div>
  		{%endif%}
</div>
{% schema %}
  {
    "name": "Text Image With Icons",
	"max_blocks":4,
    "settings": [
		{
		"type":"text",
		"label":"Title",
		"id":"title"
		},
		{
		"type":"textarea",
		"label":"Description",
		"id":"desc"
		},
		{
		"type":"image_picker",
		"id":"image",
		"label":"Choose Image"
		}
	],
	"blocks":[
	{
	"type":"icons",
	"name":"Icon With Text",
	"settings":[
		{
		"type":"image_picker",
		"id":"icon",
		"label":"Choose Icon"
		},
		{
		"type":"text",
		"id":"icon_text",
		"label":"Text"
		}
	]
	}
],
	"presets":[
		{
		"name":"Icons | Image With Text "
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
