{%if section.settings.title!=blank%}
<div class="cstm-projects">
  	{%if section.settings.title!=blank%}
    <h3 class="cstm-projects-title">
        {{section.settings.title}}
    </h3>
  	{%endif%}
  	{%if section.blocks!=blank%}
    <div class="projects-list">
      {%for block in section.blocks%}
        <div class="cstm-project-item">
          	{%if block.settings.project_image!=blank%}
            <div class="cstm-project-item-img">
            	<img src="{{block.settings.project_image|img_url:'master'}}">
          	</div>
          	{%endif%}
          
            <div class="cstm-project-item-text">
              {% if block.settings.project_text!=blank%}
              	{%if block.settings.button_link!=blank%}
              		<a href="{{block.settings.button_link}}" class="btn_link">
              	{%endif%}
              	  <h3>{{block.settings.project_text}}</h3>
				{%if block.settings.button_link!=blank%}
              		</a>
                {%endif%}
              {%endif%}
              {%if block.settings.project_desc!=blank%}
              	<p>{{block.settings.project_desc}}</p>
              {%endif%}
              {%if block.settings.button_text!=blank%}
                <a href="{{block.settings.button_link}}">{{block.settings.button_text}} <span><svg width="12" height="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.042 20.999"><g transform="translate(-1735 -3896)"><g transform="translate(1735 3896)"><path d="M24.39,20.5l-7.95,7.95a1.425,1.425,0,0,0,.15,2.25,1.575,1.575,0,0,0,2.025-.15l8.925-9a1.425,1.425,0,0,0,0-2.1l-8.925-9a1.575,1.575,0,0,0-2.025-.15,1.425,1.425,0,0,0-.15,2.25Z" transform="translate(-15.959 -10.001)"/></g></g></svg></span></a>
              {%endif%}
          	</div>
        </div>
      {%endfor%}
<!--         <div class="cstm-project-item">
            <div class="cstm-project-item-img">
                <img src="./4.png" alt="">
            </div>
            <div class="cstm-project-item-text">
                <h3>Commercial</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit</p>
                <a href="#">Learn More <span><svg width="12" height="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.042 20.999"><g transform="translate(-1735 -3896)"><g transform="translate(1735 3896)"><path d="M24.39,20.5l-7.95,7.95a1.425,1.425,0,0,0,.15,2.25,1.575,1.575,0,0,0,2.025-.15l8.925-9a1.425,1.425,0,0,0,0-2.1l-8.925-9a1.575,1.575,0,0,0-2.025-.15,1.425,1.425,0,0,0-.15,2.25Z" transform="translate(-15.959 -10.001)"/></g></g></svg></span></a>
            </div>
        </div> -->
    </div>
  {%endif%}
</div>
{%endif%}
{% schema %}
  {
    "name": "Projects List",		
	"max_blocks":2,

    "settings": [
	{
		"type":"text",
		"label":"Title",
		"id":"title",
		"default":"Projects"
	}
	],
	"blocks":[
	{
		"type":"projects",
		"name":"Project",
		"settings":[
			{
				"type":"text",
				"label":"Project Title",
				"id":"project_text",
				"default":"Project Title"
			},
			{
				"type":"image_picker",
				"label":"Project Image",
				"id":"project_image"
			},
			{
				"type":"textarea",
				"label":"Project Description",
				"id":"project_desc"
			},
			{
				"type":"text",
				"label":"Button Text",
				"id":"button_text",
				"default":"Read More"
			},
			{
				"type":"text",
				"label":"Button Link",
				"id":"button_link",
				"default":"#"
	
			}
		]
	}
	],
	"presets":[
		{
			"name":"Projects List"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
