<div class="testimonials" {%if section.settings.bg_image!=blank%}style="background:url('{{section.settings.bg_image |img_url:'master'}}')"{%endif%}>
  	{%if section.blocks!=blank%}
  	<div class="testimonials_slider">
  		{%for block in section.blocks%}
          <div class="testimonial-item">
              <div class="testimonial-item-bg">
                	{%if block.settings.person_image!=blank%}
                      <div class="testimonial-item-img">
                          <img src="{{block.settings.person_image|img_url:'master'}}">
                      </div>
                	{%endif%}
                	{%if block.settings.testimonial!=blank or block.settings.name!=blank or block.settings.job_title!=blank%}
                      <div class="testimonial-item-text">
                        {%if block.settings.testimonial!=blank%}
                          <p>
                             {{block.settings.testimonial}} 
                          </p>
                        {%endif%}
                          <div class="testimonial-about">
                            {%if block.settings.name!=blank%}
                             <p>{{block.settings.name}}</p>
                            {%endif%}
                            {%if block.settings.job_title!=blank%}
                             <p>{{block.settings.job_title}}</p>
                            {%endif%}
                          </div>
                      </div>
                	{%endif%}
                {%if block.settings.show_quotes==true%}
                  <div class="quotes">
                      <img src="https://cdn.shopify.com/s/files/1/0593/1987/7820/files/leftQuotes.png?v=1636460776" alt="" class="leftQoute">
                      <img src="https://cdn.shopify.com/s/files/1/0593/1987/7820/files/rightQuotes.png?v=1636460776" alt="" class="rightQoute">
                  </div>
                {%endif%}
              </div>
          </div>
  		{%endfor%}
  </div>
  	{%endif%}
</div>
{% schema %}
  {
    "name": "Testimonials",
    "settings": [
		{
			"type":"text",
			"label":"Title",
			"id":"title"
		},
		{
			"type":"image_picker",
			"label":"Choose background image",
			"id":"bg_image"
		}
	],
	"blocks":[
	{
		"type":"testimonial",
		"name":"Testimonial",
		"settings":[
			{
				"type":"text",
				"label":"Person Name",
				"id":"name"
			},
			{
				"type":"text",
				"label":"Job Title",
				"id":"job_title"
			},
			{
				"type":"textarea",
				"label":"Testimonial Description",
				"id":"testimonial"
			},
			{
				"type":"image_picker",
				"label":"Choose Person Image",
				"id":"person_image"
			},
			{
				"type":"checkbox",
				"label":"Show Quotes",
				"id":"show_quotes"
			}
		]
	}
	],
	"presets":[
		{
			"name":"Testimonials"
		}
	] 
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
 
{% javascript %}

{% endjavascript %}
