<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="Image_with_text-textArea">
      	{%if section.settings.title!=blank%}
        	<h3>{{section.settings.title}}</h3>
        {%endif%}
        {%if section.settings.description!=blank%}
        	<p>{{section.settings.description}}</p>
        {%endif%}
        {%if section.settings.button_link!=blank%}
        <a href="{{section.settings.button_link}}">{{section.settings.button_text}}</a>
        {%endif%}
      </div>
    </div>
    <div class="col-6">
		{%if section.blocks!=blank%}
      		<div class="Image_with_text-Image-Slider-Area iwt-slider">
      			{%for block in section.blocks%}
              		<div class="iwt-slide">
                      <img src="{{block.settings.slider_image | img_url:'295x475'}}">
                    </div>
      			{%endfor%}
      		</div>
      	{%endif%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Text with Image Slider",
    "settings": [
		{
		"type":"header",
		"content":"Text and Button Settings"
		},
		{
		"type":"checkbox",
		"label":"Show Image on Left Side",
		"id":"isImageOnLeftSide"
		},
		{
			"type":"text",
			"id":"title",
			"label":"Title"
		},
		{
			"type":"textarea",
			"id":"description",
			"label":"Description"
		},
		{
		 "type":"text",
		 "label":"Button Text",
		 "id":"button_text"
		},
		{
		 "type":"text",
		 "id":"button_link",
		"label":"Button Link"
		}
	],
	"blocks":[
	{
		"type":"Image",
		"name":"Image",
		"settings":[
		{
		"type":"image_picker",
		"label":"Choose Image",
		"id":"slider_image"
		}
	]
	}
	],

	"presets":[
		{
		"name":"Image Slider with Text"
	}
	]

  }
{% endschema %}

{% stylesheet %}

<!-- .iwt-slide{
	height:200px;
  padding:10px;
} -->
.slick-active { 
  padding: 20px 0; 
}

.slick-center { 
  transform: scale(1.08) 
}

.slick-slide:not(.slick-active) { 
  margin: 20px 0; 
}

.child { 
  width:100%; 
}

.slide:not(.slick-active) { 
  cursor: pointer; 
}
.Image_with_text-Image-Slider-Area{
	max-width:400px;
}

{% endstylesheet %}

{% javascript %}
$(document).ready(()=>{
$('.iwt-slider').slick({
  centerMode: true,
  centerPadding:'300px',
  slidesToShow: 1,
  focusOnSelect: true,
  arrows:false,
  dots: false,
   responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '60px',
        slidesToShow: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '60px',
        slidesToShow: 1
      }
    }
  ]
});

})	


{% endjavascript %}
