{%if section.settings.title!=blank%}
	<div class="Image_with_text container-fluid">
        <div class="row d-flex flex-row-reverse flex-lg-row">
          {%if section.settings.isImageOnLeftSide==true%}
          	{%if section.blocks!=blank%}
            <div class="col-12 col-lg-6 d-flex justify-content-center">
                  <div class="Image_with_text-Image-Slider-Area iwt-slider">
                    {%for block in section.blocks%}
                    	{%if block.settings.slider_image!=blank%}
                          <div class="iwt-slide">
                              <img src="{{block.settings.slider_image |img_url:'master'}}" class="iwt-slide-img">
                          </div>
                    	{%endif%}
                    {%endfor%}
                  </div>
            </div>
          {%endif%}
          {%endif%}
          <div class="col-12 col-lg-6">
            <div class="Image_with_text-textArea">
              	{%if section.settings.title!=blank%}
                  <h3 class="cstm-heading">{{section.settings.title}}</h3>
              	{%endif%}
              	{%if section.settings.description!=blank%}
                  <p class="cstm-desc">{{section.settings.description}}</p>
                {%endif%}  
              	{%if section.settings.button_text!=blank%}
              		<a href="{{section.settings.button_link}}" class="cstm-btn">{{section.settings.button_text}}</a>
              	{%endif%}
            </div>
          </div>
          {%if section.settings.isImageOnLeftSide==false%}
            {%if section.blocks!=blank%}
              <div class="col-12 col-lg-6 d-flex justify-content-center">
                    <div class="Image_with_text-Image-Slider-Area iwt-slider">
                      {%for block in section.blocks%}
                          {%if section.settings.slider_image!=blank%}
                            <div class="iwt-slide">
                                <img src="{{block.settings.slider_image}}" class="iwt-slide-img">
                            </div>
                          {%endif%}
                      {%endfor%}
                    </div>
              </div>
            {%endif%}
          {%endif%}
        </div>
      </div>
{%endif%}

{% schema %}
  {
    "name": "Text with Image Slider",
    "settings": [
		{
		"type":"header",
		"content":"Text and Button Settings"
		},
		{
		"type":"checkbox",
		"label":"Show Image on Left Side",
		"id":"isImageOnLeftSide"
		},
		{
			"type":"text",
			"id":"title",
			"label":"Title"
		},
		{
			"type":"textarea",
			"id":"description",
			"label":"Description"
		},
		{
		 "type":"text",
		 "label":"Button Text",
		 "id":"button_text"
		},
		{
		 "type":"text",
		 "id":"button_link",
		"label":"Button Link"
		}
	],
	"blocks":[
	{
		"type":"Image",
		"name":"Image",
		"settings":[
		{
		"type":"image_picker",
		"label":"Choose Image",
		"id":"slider_image"
		}
	]
	}
	],

	"presets":[
		{
		"name":"Image Slider with Text"
	}
	]
 
  }
{% endschema %}

{% stylesheet %}


{% endstylesheet %}

{% javascript %}
$(document).ready(()=>{
    $('.iwt-slider').slick({
      centerMode: true,
      centerPadding:'150px',
      slidesToShow: 1,
      focusOnSelect: true,
      arrows:false,
      dots: false, 
       responsive: [
        {
          breakpoint: 768,
          settings: {
            arrows: false,
            centerMode: true,
            centerPadding: '100px',
            slidesToShow: 1
          }
        },
        {
          breakpoint: 480,
          settings: {
            arrows: false,
            centerMode: true,
            centerPadding: '30px',
            slidesToShow: 1
          }
        }
      ]
    })
})




{% endjavascript %}
