{%if section.settings.title!=blank%}
	<div class="Image_with_text container-fluid" {%if section.settings.bgColor!=blank%}style="background:{{section.settings.bgColor}}" {%endif%}>
        <div class="row d-flex {%if section.settings.isImageOnLeftSide==true%} iwt_left {%else %} iwt_right{%endif%}">
          {%if section.settings.isImageOnLeftSide==true%}
          	{%if section.blocks!=blank%}
            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center ">  
                  <div class="Image_with_text-Image-Slider-Area iwt-slider">
                    {%for block in section.blocks%}
                    	{%if block.settings.slider_image!=blank%}
                          <div class="iwt-slide">
                              <img src="{{block.settings.slider_image |img_url:'master'}}" class="iwt-slide-img">
                          </div> 
                    	{%endif%}
                    {%endfor%}
                  </div>
            </div>
          {%endif%}
          {%endif%}
          <div class="col-12 col-lg-6">
            <div class="Image_with_text-textArea">
              	{%if section.settings.title!=blank%}
                  <span class="cstm-heading">{{section.settings.title}}</span>
              	{%endif%}
              	{%if section.settings.description!=blank%}
                  <p class="cstm-desc">{{section.settings.description}}</p>
                {%endif%}  
              	{%if section.settings.button_text!=blank%}
              	
              <a href="{{section.settings.button_link}}" class="styled_btn btn--animation-from-right">
                <span class="btn__text-static">{{section.settings.button_text}}</span>
                <div class="btn__text-dynamic">
                  <span class="btn__text-dynamic-inner">{{section.settings.button_text}}</span>
                </div>
              </a>
              
              {%comment%}
              		<a href="{{section.settings.button_link}}" class="cstm-btn">{{section.settings.button_text}}</a>
              {%endcomment%}
              	{%endif%}
            </div>
          </div>
          {%if section.settings.isImageOnLeftSide==false%}
            {%if section.blocks!=blank%}
              <div class="col-12 col-lg-6 d-flex justify-content-center">
                    <div class="Image_with_text-Image-Slider-Area iwt-slider">
                      {%for block in section.blocks%}
                          {%if block.settings.slider_image!=blank%}
                            <div class="iwt-slide">
                                <img src="{{block.settings.slider_image |img_url:'master'}}" class="iwt-slide-img">
                            </div>
                          {%endif%}
                      {%endfor%}
                    </div>
              </div>
            {%endif%}
          {%endif%}
        </div>
      </div>
{%endif%}

{% schema %}
  {
    "name": "Text with Image Slider",
    "settings": [
		{
		"type":"header",
		"content":"Text and Button Settings"
		},
		{
		"type":"checkbox",
		"label":"Show Image on Left Side",
		"id":"isImageOnLeftSide"
		},
		{
		"type":"color",
		"id":"bgColor",
		"label":"Choose Background Color",
		"default":"#E6E5E2"
		},
		{
			"type":"text",
			"id":"title",
			"label":"Title"
		},
		{
			"type":"textarea",
			"id":"description",
			"label":"Description"
		},
		{
		 "type":"text",
		 "label":"Button Text",
		 "id":"button_text"
		},
		{
		 "type":"text",
		 "id":"button_link",
		"label":"Button Link"
		}
	],
	"blocks":[
	{
		"type":"Image",
		"name":"Image",
		"settings":[
		{
		"type":"image_picker",
		"label":"Choose Image",
		"id":"slider_image"
		}
	]
	}
	],

	"presets":[
		{
		"name":"Image Slider with Text"
	}
	]
 
  }
{% endschema %} 
 
{% stylesheet %}
.iwt-slider{overflow:hidden}.slick-slide img{width:100%;object-fit:cover}.slick-slide.slick-current.slick-active.slick-center{transform:scale(1.35);padding-top:0px} 
.slick-slide.slick-active{padding-top:20px} 
{% endstylesheet %}

{% javascript %}
$(document).ready(()=>{
    $('.iwt-slider').slick({    
		loop:true, 
		autoplay:false,  
		speed: 300,  
		centerMode:true,  
      slidesToShow: 3,
	  centerPadding:'0px',  
      slideToScroll:1,
      arrows:false,  
	  draggable:true,
      dots: false, 
       responsive: [ 
        {
          breakpoint: 1024,
          settings: {
            arrows: true, 
            slidesToShow: 3,
			slideToScroll:1
          }
        },
        {
          breakpoint: 520,
          settings: {
            arrows: false,
            slidesToShow: 1
          }
        }
      ]
    })
})




{% endjavascript %}
